/* Google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}

/* .container{
    max-width: 70%;
} */

nav{
    background-color: #1F2937;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 0 10px;
}

 nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;

    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero_section{
    display: flex;
    margin: auto;
    gap: 50px;
    background-color: #1F2937;
    padding: 10%;
    
}
.hero_section div{
    width: 50%;
    margin: auto;
}